<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Freedom Concrete Construction</title>
  <link rel="stylesheet" href="../styles/main.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div id="title"><img id="nav-logo" src="../assets/logos/MainLogo.jpg" ></div>
    <ul>
      <li class="navButton"><a href="home.html">Home</a></li>
      <li class="navButton"><a href="#">Gallery</a></li>
      <li class="navButton"><a href="#">Our Team</a></li>
      <li class="navButton onPage"><a href="views/contact.html">Contact Us</a></li>
    </ul>
  </nav>
</body>
</html>
