<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Freedom Concrete Construction</title>
  <link rel="stylesheet" href="../styles/main.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div id="title"><img id="nav-logo" src="../assets/logos/MainLogo.jpg" ></div>
    <div id="hamburger" >

        <div class="row first">
            <div class="bun-half"></div>
            <div class="bun-half"></div>
        </div>
        <div class="row">
            <div class="bun-half"></div>
            <div class="bun-half"></div>
        </div>
        <div class="row">
            <div class="bun-half"></div>
            <div class="bun-half"></div>
        </div>

      </div>
    <ul id="button-container">
      <li class="navButton "><a href="../views/home.html">Home</a></li>
      <li class="navButton"><a href="../views/gallery.html">Gallery</a></li>
      <li class="navButton"><a href="../views/team.html">Our Team</a></li>
      <li class="navButton onPage"><a href="../views/contact.html">Contact Us</a></li>
    </ul>
  </nav>
  <script src="../scripts/main.js"></script>

</body>
</html>
