<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Freedom Concrete Construction</title>
  <link rel="stylesheet" href="../styles/main.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <div id="title"><img id="nav-logo" src="../assets/logos/MainLogo.jpg" ></div>
    <ul>
      <li class="navButton onPage"><a href="#">Home</a></li>
      <li class="navButton"><a href="#">Gallery</a></li>
      <li class="navButton"><a href="#">Our Team</a></li>
      <li class="navButton"><a href="views/contact.html">Contact Us</a></li>
    </ul>
  </nav>

<div id="header-container">
  <div id="header-content">MISSION STATEMENT HERE</div>
  <div id="trowel-container">
    <img id="trowel" src="../assets/images/trowel.png">
    <div id="trowel-whitespace"></div>
  </div>
</div>

<footer>
  <span>Phone #:
    <a href="tel:19165555555">1-916-555-5555</a>
  </span>
  <p>&copy; 2019 Freedom Concrete Construction</p>


</footer>

<script src="../scripts/main.js"></script>
</body>
</html>
