<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Freedom Concrete Construction</title>
  <link rel="stylesheet" href="../styles/main.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <div id="title">Freedom Concrete Construction</div>
    <ul>
      <li class="navButton"><a href="#">Home</a></li>
      <li class="navButton"><a href="#">Gallery</a></li>
      <li class="navButton"><a href="#">Our Team</a></li>
      <li class="navButton"><a href="#">Contact Us</a></li>
    </ul>
  </nav>

<div id="header-container">
  <div id="header-content">MISSION STATEMENT HERE</div>
  <div id="trowel-container">
    <img id="trowel" src="../assets/images/trowel.png">
    <div id="trowel-whitespace"></div>
  </div>
</div>
</body>
</html>
