// main: main.scss

footer{
  display: flex;
  justify-content: space-around;
  align-items:center;

  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100vw;
  background: $black;
  span{
    font-size: 1.2em;
  }
  a{
    color: $white;
    text-decoration: underline;

  }
}
