@media(max-width: 950px){
  .navbar{
    flex-direction: column;
    justify-content: space-around;


    #title {
      height: 50%;
      margin-left: 0px !important;
      margin-top: 10px;
      #nav-logo{
        height: 100% !important;
      }
    }
    ul{
      align-self: auto;
      margin: 0px;
    }

  }
}


@media(max-width: 800px){
    .navbar {
      #title {
        height: 90%;
        margin-left: 0px !important;
        margin-top: 10px;
        #nav-logo{
          height: 100% !important;
        }
      }

      .hamMenu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        width: 120px;
        //temporary color
        // background: red;
        position: fixed;
        right: 0px;
        top: 120px;

        .navButton{
          width: 100%;
          background-color: $accent;

        }
        &.closed{
          display: none;
        }
      }

      @import 'hamburger';

    }
}
